In [1]:
# Imports
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

import datetime


#Settings
pd.set_option("display.max_rows", 70)
pd.set_option("display.max_columns", 101)

# Full df unedited

In [4]:
pd.read_pickle('../data/processed/full_df.pkl')

,fn_number,dep_ap_sched,arr_ap_sched,ac_registration_x,Ac Type Code,trans_time,sched_trans_time,Sched Groundtime,Act Groundtime,mingt,dep_leg_inbound,arr_leg_outbound,sched_turnaround,catering_duration,block_time,flt_event_number,block_delay,ground_delay,rows_to_drop_grounddelay
0,EC3292,New Jessica,East Carmen,ECLBAX,320,0,0,95.0,94.0,45.0,New Jessica,South Nathaniel,95.0,27.0,191.0,1,-9.0,25.0,0
1,EC3257,East Carmen,South Nathaniel,ECLBAX,320,60,60,75.0,120.0,NaN,NaN,NaN,NaN,NaN,126.0,2,-9.0,15.0,0
2,EC3258,South Nathaniel,East Carmen,ECLBAX,320,68,75,80.0,86.0,45.0,South Nathaniel,Joneshaven,80.0,25.0,131.0,3,-14.0,51.0,0
3,EC3021,East Carmen,Joneshaven,ECLBAX,320,64,70,50.0,32.0,NaN,NaN,NaN,NaN,NaN,74.0,4,-11.0,43.0,0
4,EC3022,Joneshaven,East Carmen,ECLBAX,320,42,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,5,-10.0,14.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12180,EC3234,Lisamouth,East Carmen,ECLXEX,320,37,45,50.0,85.0,NaN,NaN,NaN,NaN,NaN,91.0,3,-9.0,4.0,0
12181,EC2687,East Carmen,West Jason,ECLXEX,320,0,0,45.0,54.0,NaN,NaN,NaN,NaN,NaN,66.0,4,-9.0,30.0,0
12182,EC2688,West Jason,East Carmen,ECLXEX,320,41,45,45.0,57.0,NaN,NaN,NaN,NaN,NaN,70.0,5,-10.0,30.0,0
12183,EC2693,East Carmen,West Jason,ECLXEX,320,50,45,45.0,4.0,NaN,NaN,NaN,NaN,NaN,84.0,6,9.0,32.0,0
12184,EC2694,West Jason,East Carmen,ECLXEX,320,32,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,7,-5.0,0.0,1

# Full_df

In [3]:
# read

full_df = pd.read_pickle('../data/processed/full_df.pkl')

full_df

,fn_number,dep_ap_sched,arr_ap_sched,ac_registration_x,Ac Type Code,trans_time,sched_trans_time,Sched Groundtime,Act Groundtime,mingt,dep_leg_inbound,arr_leg_outbound,sched_turnaround,catering_duration,block_time,flt_event_number,block_delay,ground_delay,rows_to_drop_grounddelay
0,EC3292,New Jessica,East Carmen,ECLBAX,320,0,0,95.0,94.0,45.0,New Jessica,South Nathaniel,95.0,27.0,191.0,1,-9.0,25.0,0
1,EC3257,East Carmen,South Nathaniel,ECLBAX,320,60,60,75.0,120.0,NaN,NaN,NaN,NaN,NaN,126.0,2,-9.0,15.0,0
2,EC3258,South Nathaniel,East Carmen,ECLBAX,320,68,75,80.0,86.0,45.0,South Nathaniel,Joneshaven,80.0,25.0,131.0,3,-14.0,51.0,0
3,EC3021,East Carmen,Joneshaven,ECLBAX,320,64,70,50.0,32.0,NaN,NaN,NaN,NaN,NaN,74.0,4,-11.0,43.0,0
4,EC3022,Joneshaven,East Carmen,ECLBAX,320,42,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,5,-10.0,14.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12180,EC3234,Lisamouth,East Carmen,ECLXEX,320,37,45,50.0,85.0,NaN,NaN,NaN,NaN,NaN,91.0,3,-9.0,4.0,0
12181,EC2687,East Carmen,West Jason,ECLXEX,320,0,0,45.0,54.0,NaN,NaN,NaN,NaN,NaN,66.0,4,-9.0,30.0,0
12182,EC2688,West Jason,East Carmen,ECLXEX,320,41,45,45.0,57.0,NaN,NaN,NaN,NaN,NaN,70.0,5,-10.0,30.0,0
12183,EC2693,East Carmen,West Jason,ECLXEX,320,50,45,45.0,4.0,NaN,NaN,NaN,NaN,NaN,84.0,6,9.0,32.0,0
12184,EC2694,West Jason,East Carmen,ECLXEX,320,32,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.0,7,-5.0,0.0,1

## Drop columns

In [ ]:
adv_drop_columns = [
    'leg_no',
    'fn_number',
    'fn_carrier',
    'dep_sched_date',
    'dep_sched_time',
    'arr_sched_date',
    'arr_sched_time',
    'm_offblockdt',
    'm_onblockdt',
    'change_reason_code',
    'dep_delay', # we recalculated this and called it ground_delay
    'day_of_origin',
    'ac_type',
    'ac_registration_y',
    'arr_leg_inbound', # This is always East Carmen
    'sched_inbound_dep',
    'sched_inbound_arr',
    'sched_outbound_dep',
    'sched_outbound_arr',
    'leg_inbound',
    'leg_outbound',
    #'catering_duration',
    'cleaning_duration',
    'pax_boarding_duration',
    'rot_mismatch',
    'rows_to_drop',
    'last_flt'
]

full_df = full_df.drop(adv_drop_columns, axis = 1)

## Save full_df

In [5]:
full_df.to_pickle('../data/finalized/full_df.pkl')